{% extends "base.html" %}

{% block title %}ABOUT{% endblock %}

{% block content %}
<section id="about">

    <div class="titles">
        <h2 class="section-title">プロフィール</h2>
        <p class="section-subtitle">PROFILE</p>
    </div>

    <div class="inner">
        <p>
            Alec Hirata is a Japanese-American artist based in Ann Arbor, Michigan. 
            He works primarily with analog photographic processes but also 
            dabbles with other mediums. 
        </p>
    </div>
</section>

{% endblock %}