{% extends "base.html" %}

{% block title %}LOGIN{% endblock %}

{% block content %}
<section class="login-signup" id="login">
    <div class="titles">
        <h2 class="section-title">ログイン</h2>
        <p class="section-subtitle">Are you alc..?</p>
    </div>

    <div class="inner">
        {% from "_formhelpers.html" import render_field %}
        <form action="/login" method="POST">
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    {% for message in messages: %}
                    <div class="error-message">
                        {{ messages[0] }}
                    </div>
                    {% endfor%}
                {% endif %}
            {% endwith %}

            {{ render_field(form.email) }}
            {{ render_field(form.password) }}

            <div class="policy-confirmation">
                <div class="confirmation-btn"><input type="submit" value="Login"></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}