{% extends "base.html" %}

{% block title %}PROJECTS{% endblock %}
    
{% block content %}

<section class="picture" id="projects">

    <div class="titles">
        <h2 class="section-title">プロジェクト</h2>
        <p class="section-subtitle">PROJECTS</p>
    </div>

    <div class="inner">
        <div class="project-list">
            {% for folder in folders: %}
                {% if not folder.id == 1 %}
                <div class="project">
                    <a href="/project/{{folder.name}}/">
                        <p>{{folder.name}}</p>
                        <p class="project-date">{{folder.created_at.strftime("%B %d, %Y")}}</p>
                    </a>
                </label>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}
