{% extends "base.html" %}

{% block title %}PROJECTS{% endblock %}
    
{% block content %}

<section class="picture" id="folder">

    <div class="titles">
        <h2 class="section-title">プロジェクト</h2>
        <p class="section-subtitle">PROJECTS</p>
    </div>

    <div class="inner">
        <div class="folder-list">
            {% for folder in folders: %}
                {% if not folder.id == 1 %}
                <div class="folder">
                    <p><a href="/project/{{folder.name}}/">{{folder.name}}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}
